<ion-content>

  <ng-container>




    <div class="formBuilder" id="regContainer">

      <ion-slides #signupSlider [options]="slideOpts">

        <ion-slide>
          <div class="headers">
            <span>¡Bienvenid@ a <b>Swipe</b>!</span><br>
            <span>¿Cómo te llamas?</span>
          </div>

          <form [formGroup]="nameForm" class="loginForm">
            <ion-item lines="none">
              <ion-input formControlName="name" text-capitalize type="text" placeholder="Nombre de Pila">
              </ion-input>
            </ion-item>

            <ion-button class="btn" (click)="next()" [disabled]="!nameForm.valid">Siguiente</ion-button>

          </form>
        </ion-slide>

        <ion-slide>
          <div class="headers">
            <span>Encantado <b style="text-transform: capitalize;">{{nombre}}</b>,</span><br>
            <span>¿Cuándo Naciste?</span>
          </div>

          <form [formGroup]="dateForm" class="dateForm">
            <ion-item lines="none">
              <ion-datetime mode="ios" color="dark" formControlName="date" value="1990" [max]="dateLimit"
                displayFormat="DD / MMM / YYYY"
                monthShortNames="Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic" class="bornDate"
                (ionChange)="dateAge()">
              </ion-datetime>
            </ion-item>

            <ion-button class="btn btnPrev" (click)="prev()">
              <ion-icon slot="start" name="arrow-back"></ion-icon>
              Atrás
            </ion-button>
            <ion-button class="btn btnNext" (click)="next()" [disabled]="!dateForm.valid">
              Siguiente
              <ion-icon slot="end" name="arrow-forward"></ion-icon>
            </ion-button>

          </form>

        </ion-slide>

        <ion-slide>
          <div class="headers">
            <span>Soy...</span><br>
            <span></span>
          </div>

          <ion-button class="btn genderBtn" (click)="gender($event)" id="male">
            <ion-icon slot="start" name="male" class="mIcon" mode="ios" id="male"></ion-icon>
            Hombre
          </ion-button>

          <ion-button class="btn genderBtn" (click)="gender($event)" id="female">
            <ion-icon slot="start" name="female" class="fIcon" mode="ios" id="female"></ion-icon>
            Mujer
          </ion-button>

          <ion-button class="btn genderBtn" (click)="gender($event)" id="trans">
            <ion-icon slot="start" name="transgender" class="tIcon" mode="md" id="trans"></ion-icon>
            Otro
          </ion-button>

          <ion-button class="btn" (click)="prev()">
            <ion-icon slot="start" name="arrow-back"></ion-icon>
            Atrás
          </ion-button>


        </ion-slide>

        <ion-slide>
          <div class="headers">
            <span>Me interesan...</span><br>
            <span></span>
          </div>

          <ion-button class="btn genderBtn" (click)="interest($event)" id="male">
            <ion-icon slot="start" name="male" class="mIcon" mode="ios" id="male"></ion-icon>
            Hombres
          </ion-button>

          <ion-button class="btn genderBtn" (click)="interest($event)" id="female">
            <ion-icon slot="start" name="female" class="fIcon" mode="ios" id="female"></ion-icon>
            Mujeres
          </ion-button>

          <ion-button class="btn genderBtn" (click)="interest($event)" id="both">
            <ion-icon slot="start" name="transgender" class="tIcon" mode="md" id="both"></ion-icon>
            Ambos
          </ion-button>



          <ion-button class="btn" (click)="prev()">
            <ion-icon slot="start" name="arrow-back"></ion-icon>
            Atrás
          </ion-button>


        </ion-slide>


        <ion-slide>
          <div class="headers">
            <span>Quiero ser...</span><br>
            <span></span>
          </div>

          <ion-button class="btn genderBtn" (click)="role($event)" id="companion">
            <ion-icon slot="start" name="male" class="mIcon" mode="ios" id="companion"></ion-icon>
            Acompañante
          </ion-button>

          <ion-button class="btn genderBtn" (click)="role($event)" id="companied">
            <ion-icon slot="start" name="female" class="fIcon" mode="ios" id="companied"></ion-icon>
            <span *ngIf="gen == 'male'" id="companied">Acompañado</span> 
             <span *ngIf="gen == 'female'" id="companied">Acompañada</span> 
             <span *ngIf="gen == 'trans'" id="companied">Acompañado/a</span> 
          </ion-button>

          <ion-button class="btn" (click)="prev()">
            <ion-icon slot="start" name="arrow-back"></ion-icon>
            Atrás
          </ion-button>


        </ion-slide>

        <ion-slide>
        <ion-spinner *ngIf="loading == 1" name="crescent"></ion-spinner>

          <div class="headers">
            <span><b style="text-transform: capitalize;">{{nombre}}</b>, ¡Ya casi estamos!</span><br>
            <span>¿Cuál es tu Correo?</span>
          </div>

          <form [formGroup]="regForm" class="loginForm">
            <ion-item lines="none">
              <ion-input formControlName="email" type="text" placeholder="Correo Electrónico">
              </ion-input>
            </ion-item>

            <ion-item lines="none" style="margin-top: 1rem">
              <ion-input formControlName="passwd" type="password" placeholder="Contraseña">
              </ion-input>
            </ion-item>


            <ion-button class="btn btnPrev" (click)="prev()">
              <ion-icon slot="start" name="arrow-back"></ion-icon>
              Atrás
            </ion-button>

            <ion-button class="btn btnNext" (click)="signup()" [disabled]="!regForm.valid">Finalizar</ion-button>
          </form>
        </ion-slide>
      </ion-slides>
    </div>
  </ng-container>


  <ng-container *ngIf="loginF == 1">

    <div class="loginFormContent">

      <form [formGroup]="loginForm" class="formContent">

        <ion-spinner *ngIf="loading == 1" name="crescent"></ion-spinner>

        <div class="headers">
          <span>Entra en tu cuenta de <b>Swipe</b></span>
        </div>

        <ion-item lines="none" style="margin-top: .5rem">
          <ion-input formControlName="email" type="text" placeholder="Correo Electrónico">
          </ion-input>
        </ion-item>

        <ion-item lines="none" style="margin-top: 1rem">
          <ion-input formControlName="passwd" type="password" placeholder="Contraseña">
          </ion-input>
        </ion-item>

        <ion-button class="btn" (click)="signin()" [disabled]="!loginForm.valid" (click)="signin()">Iniciar Sesión
        </ion-button>

      </form>



    </div>

  </ng-container>

  <div class="logFooter">
    <ion-label (click)="logForm()" *ngIf="loginF != 1">¿Ya tienes cuenta? <b class="logTxt">Inicia Sesión.</b>
    </ion-label>
    <ion-label (click)="regisForm()" *ngIf="loginF == 1">¿Todavía no tienes cuenta? <b class="logTxt">Regístrate.</b>
    </ion-label>
  </div>

</ion-content>