<ion-app>

    <ion-menu side="start" menuId="main" type="push">
        <ion-header no-border mode="ios">
          <ion-toolbar mode="ios">
            <ion-title>{{userName}}</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list>
            <ion-item lines="none" >Menu Item</ion-item>
            <ion-item lines="none" >Menu Item</ion-item>
            <ion-item lines="none" >Menu Item</ion-item>
            <ion-item lines="none" >Menu Item</ion-item>
            <ion-item lines="none" >Menu Item</ion-item>
            <ion-item lines="none" >Menu Item</ion-item>
          </ion-list>
        </ion-content>
      </ion-menu>

  <ion-router-outlet main></ion-router-outlet>
</ion-app>
