ion-menu ion-content{
    --background: #ad5389;
    --background: -webkit-linear-gradient(to top, #511670, #ad5389); 
    --background: linear-gradient(to top, #511670, #ad5389); 
    --color: #fff;
    --overflow: hidden;
}

ion-menu ion-toolbar{
    --background: #ad5389;
    --color: #fff;
}

ion-list, ion-item{
    --background: none;
    background: none;
    color: #fff;
}


.footerMenu{
    background: #511670;
    color: #ffffff49;
    text-align: center;
    padding: 5px;
}
.footerMenu .brandName{
    font-weight: bold;
}
.footerMenu .appVersion{
    font-size: 12px;
}