<ion-app>

    <ion-menu side="start" menuId="main" type="push">
        <ion-header no-border mode="ios">
          <ion-toolbar mode="ios">
            <ion-title>{{userName}}</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list *ngIf="userRole == 'companion'">

            
            <ion-item lines="none" (click)="menu($event)" id="account">Mi Cuenta</ion-item>
            <ion-item lines="none" (click)="menu($event)" id="settings">Configuración</ion-item>
            <ion-item lines="none" (click)="chat()">Chats</ion-item>
            <ion-item lines="none" (click)="menu($event)" id="help">Ayuda</ion-item>
            <ion-item lines="none" (click)="logout()">
             <ion-label>Logout</ion-label> 
            </ion-item>
          </ion-list>
          <ion-list *ngIf="userRole == 'companied'">

            <ion-item lines="none" >Menu Item</ion-item>
            <ion-item lines="none" >Ayuda</ion-item>
            <ion-item lines="none" >Menu Item</ion-item>
            <ion-item lines="none" >Menu Item</ion-item>
            <ion-item lines="none" (click)="chat()">
              Chats
              <ion-badge slot="end">22</ion-badge>
            </ion-item>
            <ion-item lines="none" (click)="logout()">Logout</ion-item>
          </ion-list>
        </ion-content>
        <ion-footer>
          <div class="footerMenu">
            <span class="brandName">Sinket Studios, S.L</span> <br>
            <span class="appVersion">Beta v.0.1.7</span>
          </div>
        </ion-footer>
      </ion-menu>

  <ion-router-outlet main></ion-router-outlet>
</ion-app>
