ion-content{
    --background: #ad5389;
    --background: -webkit-linear-gradient(to top, #511670, #ad5389); 
    --background: linear-gradient(to top, #511670, #ad5389); 
    --color: #fff;
}

ion-header ion-toolbar{
    --background: #ad5389;
    --color: #fff;
}

.chatItem {}

.chatItem h2{
    font-weight: 525;
}