<ion-header no-border mode="ios">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="" color="light" mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>Chats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item detail class="chatItem">
    <ion-avatar slot="start">
      <img src="https://i.pinimg.com/originals/07/a2/f9/07a2f9ad7d550d6f0224ad0abc025602.jpg" alt="">
    </ion-avatar>
    <ion-label slot="start">
      <h2>Nombre</h2>
      <label>Lorem ipsum dolor sit amet consectetur adipisicing elit.</label>
    </ion-label>
    <ion-label slot="end">
      <p>Ayer</p>
    </ion-label>
    <ion-badge slot="end">22</ion-badge>
  </ion-item>

</ion-content>
