ion-content{
    --background: #ad5389;
    --background: -webkit-linear-gradient(to top, #511670, #ad5389); 
    --background: linear-gradient(to top, #511670, #ad5389); 
    --color: #fff;
    --overflow: hidden;
}

ion-toolbar{
    --background: #ad5389;
    --color: #fff;
}