ion-content{
    position: relative;
    width: 100%;
    height: 100vh;
    --overflow: hidden;
   
}
.toolbar{
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0%;
    z-index: 1001;
    background: #000;
    background: -webkit-linear-gradient(to bottom, #000000bb, #00000000); 
    background: linear-gradient(to bottom, #000000bb, #00000000); 

}
.slider{
    width: 100%;
    height: 100%;
}

.slider ion-slide {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.slider ion-slide img {
    height: 100%;
    max-width: 110%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 10px 0 0;
}

.basicInfo{
    position: absolute;
    bottom: 0rem;
    width: 100%;
    height: 60px;
    padding: 20px;
    padding-bottom: 5rem;
    z-index: 1001;
    text-align: left;
    color: #ffffff;
    background: #000;
    background: -webkit-linear-gradient(to top, #000000bb, #00000000); 
    background: linear-gradient(to top, #000000bb, #00000000); 
}

.basicInfo ion-item{
    --color: #ffffff;
    --background: transparent;

}

.detailedInfo{
    position: absolute;
    top: 3rem;
    width: 100%;
    height: 60px;
    padding: 20px;
    padding-bottom: 5rem;
    z-index: 1001;
    text-align: left;
    color: #ffffff;

}

.eliteIcon{
    fill: yellow;
    vertical-align: top;
    margin-left: 5px;
}

.verificatedIcon{
    fill:white; 
    vertical-align: middle; 
    margin-left: 5px;
}


.blur{
   filter: blur(10px) brightness(50%) drop-shadow(2px 4px 6px black);
}
